.CutoutEditorContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 12px;
}

.CutoutEditorMain {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.CutoutEditorBottom {
  flex: 0 1 auto;
  margin-bottom: -12px;
}

.CutoutEditorRow {
  display: flex;
  flex-direction: row;
  padding-bottom: 16px;
}

.TextFieldPos {
  margin-right: 16px;
  max-width: 100px;
}

.RowSpacer {
  flex: 1 0 auto;
}
