.CutoutComponentContainer {
  cursor: pointer;
}

.CutoutVector {
  fill: none;
}

g[inkscape\:label="Z0_CUT500"] > path {
  stroke: #000000;
  fill: #bbbbbb;
  stroke-width: 3;
}

g[inkscape\:label="Z0_TOPCOMP"] > path {
  stroke: #FF0000;
}

g[inkscape\:label="Z0_BOTCOMP"] > path {
  stroke: #ff00ff;
  opacity: 0.2;
}

.CutoutVector:hover g[inkscape\:label="Z0_BOTCOMP"] > path {
  opacity: 1;
}

